.button-box {
  display: inline-block;
  width: 60px;
  padding-left: 4px;
  padding-right: 4px;

  transition: padding-left 0.15s, padding-right 0.15s;
}

.button-box:hover {
  padding-left: 0px;
  padding-right: 0px;
}

.button-box .filter-button,
.button-box .favorite-button,
.button-box .neutral-button {
  width: max-content;
  padding-left: 8px; 
  padding-right: 8px;

  font-size: 12px;
  font-weight: 600;

  border-radius: 5px;

  transition: background 0.15s, padding-left 0.15s, padding-right 0.15s;
}

.button-box:hover .filter-button,
.button-box:hover .favorite-button,
.button-box:hover .neutral-button {
  padding-left: 12px; 
  padding-right: 12px;
}

.filter-button {
  background:rgb(255, 113, 113);
}

.filter-button:hover {
  background:rgb(255, 0, 0);
}

.favorite-button {
  background:rgb(113, 255, 113);
}

.favorite-button:hover { 
  background:rgb(0, 255, 0);
}

.neutral-button {
  background:rgb(113, 113, 255);
}

.neutral-button:hover {
  background:rgb(0, 0, 255);
}