body {
  min-width: max-content;
}

.main-box {
  display: grid;
  flex-direction: row;
  justify-content: center;

  font-family: Julee, Arial;
  font-size: 16px;
  font-weight: 400;
}

.content-box {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.input-line {
  margin-top: 4px; 
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-left: -2px;
  margin-right: -1px;
}
